<div class="users-container animate-fade-in">
    <div class="page-header">
        <h2>Client Directory</h2>
        <button mat-flat-button color="primary" routerLink="/add-user">
            <mat-icon>person_add</mat-icon> Add Client
        </button>
    </div>

    <div class="table-card">
        <div class="table-container">
            <table class="normal-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>PAN</th>
                        <th>Name</th>
                        <th>Mobile</th>
                        <th>Email</th>
                        <th>Date of Birth</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{ user.id }}</td>
                        <td class="code">{{ user.pan }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.mobile || '-' }}</td>
                        <td>{{ user.email || '-' }}</td>
                        <td>{{ user.dob || '-' }}</td>
                        <td>
                            <button mat-raised-button color="primary" [routerLink]="['/users', user.id]">
                                Open Space
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="users.length === 0">
                        <td colspan="7" class="no-data">No clients registered. Click "Add Client" to register one.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>