.sidebar{

    width:220px;

    background:#eeeeee;

    display:flex;

    flex-direction:column;

    padding:20px;

}

a{

    text-decoration:none;

    margin-bottom:15px;

    color:black;

    font-size:18px;

}